configuration {
  show-icons: true;
  dpi: 150;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@import "Theme.rasi"
