@import "/home/renan/.cache/wal/colors-waybar.css";

#waybar {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    background-color: @background;
    color: @foreground;
}

#clock, #tray, #battery, #backlight, #power-profiles-daemon, #pulseaudio, #bluetooth, #mpd, #custom-Wlogout {
    padding: 0 10px;
    color: @foreground;
    background-color: transparent;
    font-size: 16px
}

#custom-firefox, #custom-files {
    font-size: 22px;
    color: @color2
}
